@media (max-width: 1200px){
.consultation {
    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items:center;
    }
}
.carousel {
    .container {
        width: 500px;
            img {
                width: 100%;
            }      
    }
}
.button {
    &:focus {
        box-shadow: none;
    }
}
}

@media (max-width: 991px) {

}

@media (max-width: 766px) {

}

@media (max-width: 575px) {

}