.advantage {
    min-height: 450px;
    padding: 70px 0 65px 0;
}
.advantage__header {
    font-weight: 700;
    font-size: 30px;
    line-height: 30px;
    text-align: center;
    color: #0D0D0D;
    text-transform: uppercase;
}
.advantage__icons {
    margin-top: 65px;
    display: flex;
    justify-content: space-between;
    
}
.advantage__icon {
    display: flex;
    flex-direction: column;
    width: 277px;
    text-align: center;
    font-weight: 700;
    font-size: 18px;
    line-height: 29px;
    color: #0D0D0D;
    img {
        margin: 0 auto;
        margin-bottom: 30px;
        height: 70px;
        width: 70px;
    }
}
.advantage__descr {
    margin-top: 20px;
    font-weight: 300;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    color: #0D0D0D;
    span {
        color: $main-color;
        text-transform: uppercase;
        text-decoration: underline;
    }
}