.review {
    
}
.review__title {
    font-weight: 700;
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    color: #0D0D0D;
}
.review-item__container {
    display: flex;
    margin-top: 60px;
    margin-bottom: 50px;
    img {
        height: 170px;
        width: 170px;
        margin-right: 60px;
    }
}
.review-item__title {
    font-weight: 700;
    font-size: 18px;
    color: #0D0D0D;
    margin-bottom: 0;
}
.review-item__subtitile {
    font-weight: 500;
    font-size: 14px;
    color: #646464;
    margin-top: 0;
}
.review-item__descr {
    margin-top: 10px;
    font-weight: 300;
    font-size: 16px;
    color: #0D0D0D;
}